language: php

sudo: false

cache:
    apt: true
    directories:
        - $HOME/.composer/cache

matrix:
    fast_finish: true
    include:
        - php: 5.5
        - php: 5.6
        - php: 7.0
        - php: 7.1
        - php: nightly
    allow_failures:
        - php: nightly

before_install:
    - echo 'date.timezone = "Europe/Paris"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
    - composer --prefer-dist install --no-interaction -o --no-progress

script:
    - ./bin/simple-phpunit -v
